[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/terminus"]
	path = vim/bundle/terminus
	url = https://github.com/wincent/terminus
